html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
/* Fuente Bree - Regular */
@font-face {
     font-family: 'Bree';
     src: url('../assets/fonts/Bree/BreeRegular.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}

/* Fuente Bree - Bold */
@font-face {
     font-family: 'Bree';
     src: url('../assets/fonts/Bree/BreeBold.otf') format('opentype');
     font-weight: bold;
     font-style: normal;
}

/* Fuente Bree - ExtraBold */
@font-face {
     font-family: 'Bree';
     src: url('../assets/fonts/Bree/BreeExtrabold.otf') format('opentype');
     font-weight: 800;
     font-style: normal;
}

/* Fuente Bree - Light */
@font-face {
     font-family: 'Bree';
     src: url('../assets/fonts/Bree/BreeLight.otf') format('opentype');
     font-weight: 300;
     font-style: normal;
}

/* Fuente Bree - Thin */
@font-face {
     font-family: 'Bree';
     src: url('../assets/fonts/Bree/BreeThin.otf') format('opentype');
     font-weight: 200;
     font-style: normal;
}

/* Fuente Bree - Semibold */
@font-face {
     font-family: 'Bree';
     src: url('../assets/fonts/Bree/BreeSemibold.otf') format('opentype');
     font-weight: 600;
     font-style: normal;
}

/* Fuente Bree - Oblique */
@font-face {
     font-family: 'Bree Oblique';
     src: url('../assets/fonts/Bree/BreeOblique_Reg.otf') format('opentype');
     font-weight: normal;
     font-style: oblique;
}


/* Fuente Inter - Regular */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

/* Fuente Inter - Bold */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}

/* Fuente Inter - ExtraBold */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-ExtraBold.ttf') format('truetype');
     font-weight: 800;
     font-style: normal;
}

/* Fuente Inter - Black */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-Black.ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
}

/* Fuente Inter - Light */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-Light.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
}

/* Fuente Inter - ExtraLight */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-ExtraLight.ttf') format('truetype');
     font-weight: 200;
     font-style: normal;
}

/* Fuente Inter - SemiBold */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-SemiBold.ttf') format('truetype');
     font-weight: 600;
     font-style: normal;
}

/* Fuente Inter - Medium */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-Medium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
}

/* Fuente Inter - Thin */
@font-face {
     font-family: 'Inter';
     src: url('../assets/fonts/INTER/Inter-Thin.ttf') format('truetype');
     font-weight: 100;
     font-style: normal;
}


h1 {
    font-family: 'Bree', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #CE0058 !important;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Bree', sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #CE0058 !important;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h4 {
  font-family: 'Bree', sans-serif;
  font-weight: 600;
  font-size: 20px; /* mobile */
  color: #CE0058 !important;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  h4 {
    font-size: 24px;
  }
}



p {
  color: #252A2D;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
}


.text-primary-1 {
  color: #252A2D;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.text-title-section-card {
  color: #252A2D;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
}

.text-subtitle-section{
  color: #252A2D;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.text-sub-q-1 {
  color: #252A2D;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 30px;
}

.text-subprogress {
  color: #847770;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

@media (min-width: 576px) {
  .text-sub-q-1 {
    margin-bottom: 58px; 
    font-size: 18px;
  }
}


.text-center-left-mobile {
  text-align: left; 
}

@media (min-width: 576px) {
  .text-center-left-mobile {
    text-align: center;
  }
}


.rounded-6 {
    border-radius: 16px;
}


.cb-orimary-btn-pink {
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  background-color: #CE0058;
  border-radius: 28px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

@media (min-width: 576px) {
  .cb-orimary-btn-pink {
    width: 280px;
  }
} 

.cb-orimary-btn-pink:hover {
  background-color: #960048;
  color: #fff;
}

.cb-orimary-btn-pink:disabled {
  background-color: #CACCCE;
  color: #847770;
  cursor: not-allowed;
}


.ps-24 {
  padding-left: 48px;
}

@media (max-width: 576px) {
  .ps-24 {
    padding-left: 16px;
  }
}


.timeline-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-line {
  width: 4px;
  height: 100%;
  background-color: #CE0058;
  margin-top: 4px;
  flex-grow: 1;
}


.border-top-gray {
  border-top: 1px solid #D8DADA;
}

@media (max-width: 576px) {
  .border-top-gray {
    border-top: none;
  }
}

.text-link {
  color: #CE0058;
  font-size: 14px;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.color-cb {
  color: #CE0058;
}

.footer {
  background-color: #fff;
   border-top: 1px solid #D8DADA;
}

.f-14 {
  font-size: 14px;
}


.mb-75-mobile {
  margin-bottom: 75px;
}

@media (min-width: 576px) {
  .mb-75-mobile {
    margin-bottom: 0;
  }
}


.card-option {
  width: 100%;
  height: 88px;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 16px;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
  cursor: pointer;
  background-color: #fff;
}

.card-option:hover {
  border: 1px solid #960048;
}

.opcion-card input[type="radio"]:checked + .card-option {
  border: 2px solid #CE0058;
}


/* Responsive */
@media (max-width: 767.98px) {
  .card-option {
    width: 100%;
  }
}

.text-rosa {
  color: #CE0058;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.p-r24 {
  padding-right: 16px;
}

/* Mobile: botón fijo como bottom nav */
@media (max-width: 767.98px) {
  .btn-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    z-index: 999;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  }
  
}

/* Desktop: comportamiento normal */
@media (min-width: 768px) {
  .btn-wrapper {
    position: static;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
  }

}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: #CE0058 !important;
}

